.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
}
.formControl.error span {
  color: red;
}
.formSummaryError {
  border: red 1px solid;
  padding: 5px;
  color: brown;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}
