.descriptionBlock {
  padding: 10px;
}
.mainPhoto {
  max-width: 200px;
}
.contact {
  padding-left: 20px;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}
.buttonEdit {
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}
