.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
  color: white;
}
.dialogsItems .active {
  color: #daa520;
  text-decoration: none;
}

.messages .message {
  color: white;
}
.friendDialog {
  text-decoration: none;
  font-weight: bold;
}
.button {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}
.textarea {
  border-radius: 5px;
}
